@keyframes banner {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-45vw);
  }
}

@keyframes groter {
  from {
    scale: 1;
  }

  50% {
    scale: 1.1;
  }

  100% {
    scale: 1;
  }
}

.last-collection__hero {
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: 30vh calc(70vh - 5rem) 5rem;
}

.last-collection__hero video {
  grid-row: 1 / span 3;
  grid-column: 1;
  width: 100vw;
  height: calc(100vh - 5rem);
  object-fit: cover;
  object-position: -100vw 0;
}

.last-collection__hero h2 {
  grid-row: 1;
  grid-column: 1;
  font-family: var(--font-title);
  font-size: 5rem;
  line-height: 0.85;
  text-align: center;
  color: var(--color-white);
  padding-block: 4rem;
}

.last-collection__hero h2 span:nth-of-type(2) {
  font-style: italic;
  font-size: 6rem;
}

.last-collection__hero a {
  grid-row: 2;
  grid-column: 1;
  width: 1rem;
  text-align: center;
  height: 1.5rem;
  justify-self: center;
  align-self: end;
  margin-block-end: 2rem;
}

.last-collection__banner {
  grid-row: 3;
  grid-column: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-green);
  height: 5rem;
  font-family: var(--font-title);
  font-size: 3rem;
  font-style: italic;
  margin-block: 0;
  line-height: 0;
  width: 160vw;
  animation: banner 3s linear infinite;
}

.last-collection__banner {
  fill: var(--color-black);
}

.last-collection__info {
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: auto auto auto;
  padding-block: 3rem;
}

.last-collection__info p {
  width: calc(100vw - 3rem);
  padding-inline: 1.5rem;
  font-size: 1.125rem;
}

.last-collection__info-text p:first-of-type {
  font-size: 1.5rem;
  font-weight: 500;
  text-transform: uppercase;
}

.last-collection__articles {
  display: flex;
  flex-direction: row;
  width: 100vw;
  overflow-x: scroll;
}

.last-collection__article {
  margin-block-start: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 70vh;
  width: 100vw;
}

.last-collection__arrows {
  display: flex;
  justify-content: space-between;
  width: 30vw;
  padding-inline: 35vw;
  margin-block-start: 2rem;
  animation: groter 1s ease-in-out infinite;
}

.last-collection__article > img {
  width: calc(100vw - 6rem);
  height: auto;
}

.last-collection__article h3 {
  font-size: 1.5rem;
  font-weight: 500;
  margin-block: 1.5rem;
  margin-block-end: 2rem;
  text-transform: uppercase;
  margin-block-end: 0rem;
}

.last-collection__article > div:first-of-type {
  display: grid;
  width: 100vw;
  justify-self: center;
  align-items: center;
  margin-block-end: 1rem;
}

.last-collection__article > div:first-of-type img {
  grid-row: 1;
  width: 3rem;
  height: 3rem;
  justify-self: end;
}

.last-collection__article > div:first-of-type p {
  grid-row: 1;
  font-size: 1.125rem;
  font-weight: 500;
  width: auto;
  justify-self: start;
}

.collection-detail {
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: auto 75vh;
  overflow: hidden;
}

.collection-detail__scroll {
  grid-row: 1;
  grid-column: 1;
  display: flex;
  flex-direction: column;
  width: 100vw;
  overflow-y: scroll;
}

.collection-detail__scroll p {
  padding-block: 2rem;
}

.collection-detail__scroll img {
  width: 100vw;
  height: auto;
}

.collection-detail__scroll .scroll-name {
  width: calc(100vw - 3rem);
  padding-inline: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-black);
  color: var(--color-green);
}

.collection-detail__scroll .scroll-name > p {
  font-size: 1.5rem;
  padding-inline: 0;
}

.collection-detail__scroll p {
  font-size: 1.125rem;
  width: calc(100vw - 3rem);
  padding-inline: 1.5rem;
}

.scroll-design__step {
  width: calc(100vw - 3rem);
  padding-inline: 1.5rem;
  padding-block: 1rem;
}

.scroll-design__step p {
  width: calc(100vw - 3rem);
  padding-inline: 0rem;
}

.collection-detail .scroll-design__step > img:first-of-type {
  width: 6rem;
  height: auto;
  object-position: 0 0;
}

.collection-detail__scroll > .scroll-design {
  font-family: var(--font-title);
  font-size: 6rem;
}

.white-text {
  color: var(--color-white);
  background-color: var(--color-black);
  padding-block: 1rem;
}

.scroll-name a img:first-of-type {
  width: 2rem;
  height: 2rem;
  margin-inline-end: 4rem;
  object-fit: contain;
  object-position: 0 0;
}

.collection-detail__mobile-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 2;
  background-color: var(--color-white);
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: start;
  padding-inline-start: 2rem;
  padding-block: 1rem;
  align-items: center;
  overflow: hidden;
}

.collection-detail__mobile-nav p {
  padding-inline-start: 2rem;
  margin-block: 0.75rem;
}

.collection-detail .arrow-button-black-hor img {
  border: 1px solid var(--color-black);
  padding: 1rem;
  border-radius: 30px;
}

.collection-detail__noscroll {
  height: 40rem;
  overflow: hidden;
}

.collection-detail__noscroll img {
  width: calc(100vw - 6rem);
  padding: 3rem;
  height: auto;
}

.collection-detail__noscroll a div {
  width: calc(100vw - 6rem);
  margin-inline: 1.5rem;
  height: auto;
}

@media screen and (min-width: 1280px) {
  .last-collection {
  }

  .last-collection__hero {
    grid-template-columns: 33vw 33vw 33vw;
    grid-template-rows: calc(100vh - 5rem) 5rem;
  }

  .last-collection__hero video {
    grid-row: 1;
    grid-column: 1 / span 3;
    object-position: 0 0;
  }

  .last-collection__hero h2 {
    grid-row: 1;
    grid-column: 1;
    align-self: end;
  }

  .last-collection__banner {
    grid-row: 2;
    grid-column: 1 / span 3;
    width: 160vw;
  }

  .last-collection__hero a {
    grid-row: 1;
    grid-column: 2;
    align-self: end;
    justify-self: center;
    margin-block-end: 4rem;
    cursor: pointer;
    z-index: 1;
    transition: ease 0.3s all;
  }

  .last-collection__hero a:hover {
    scale: 1.2;
  }

  .last-collection__info {
    grid-template-columns: 10rem calc(100vw - 15rem);
    grid-template-rows: auto;
  }

  .last-collection__info-img {
    grid-row: 1;
    grid-column: 1;
    width: 10rem;
    height: 100vh;
    object-fit: cover;
    object-position: -10rem;
  }

  .last-collection__info-img img {
    width: 10rem;
    height: 100vh;
    object-fit: cover;
    object-position: -10rem;
  }

  .last-collection__info-text {
    grid-row: 1;
    grid-column: 2;
    justify-self: center;
  }

  .last-collection__info-text p {
    width: 55vw;
  }

  .last-collection__articles {
    grid-row: 1;
    grid-column: 2 / span 2;
    width: 65rem;
    justify-content: space-between;
    overflow: visible;
  }

  .last-collection__article {
    margin-block-start: 3rem;
    margin-inline-start: 3rem;
    width: 14rem;
    height: 70vh;
  }

  .last-collection__article img {
    margin-block-start: 0;
    width: 15rem;
    height: auto;
    object-fit: contain;
    transition: 0.3s ease-in-out all;
  }

  .last-collection__article:hover img {
    scale: 1.1;
  }

  .last-collection__article a div {
    margin-block-start: 0;
    width: 15rem;
    height: auto;
  }

  .collection-detail {
    grid-template-columns: 50vw 50vw;
    grid-template-rows: 100vh;
    height: 100vh;
    overflow-y: scroll;
    width: 100vw;
    overflow-x: hidden;
  }

  .collection-detail__scroll {
    grid-row: 1;
    grid-column: 2;
    width: calc(50vw - 5rem);
  }

  .collection-detail__noscroll {
    grid-row: 1;
    grid-column: 1;
    display: flex;
    flex-direction: column;
    grid-template-columns: 50vw;
    grid-template-rows: auto;
    width: 50vw;
    height: 100vh;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--color-white);
  }

  .noscroll-title {
    grid-row: 1;
  }

  .collection-detail__noscroll .noscroll-title h1 {
    line-height: 1;
    margin-block: 0;
  }

  .collection-detail__noscroll .noscroll-title p {
    margin-block: 0;
  }

  .outfit-image {
    overflow: visible;
  }

  .collection-detail__noscroll > a:first-of-type {
    margin: 3rem;
    margin-block-end: 0;
    align-self: start;
    grid-row: 1;
    grid-column: 1;
  }

  .collection-detail__noscroll > img {
    width: 20rem;
    margin-block: 3rem;
  }

  .collection-detail__scroll img:first-of-type {
    width: 50vw;
    height: 20rem;
    object-fit: cover;
    object-position: 0 -20rem;
  }

  .collection-detail__scroll img:nth-of-type(2) {
    width: 50vw;
    height: 20rem;
    object-fit: cover;
    object-position: 0 0;
  }

  .collection-detail__scroll .scroll-name {
    width: calc(50vw - 5rem);
  }

  .scroll-design__step img {
    width: 50vw;
    height: 20rem;
    object-fit: cover;
    object-position: 0 0;
  }

  .scroll-design__step p {
    width: 35vw;
    margin-block: 0;
  }

  .collection-detail__scroll p {
    width: 35vw;
    padding-inline-end: 15vw;
  }

  .collection-detail__noscroll img {
    width: 3rem;
    padding: 3rem;
    height: auto;
  }

  .collection-detail__noscroll > img {
    width: 20rem;
    height: auto;
  }

  .collection-detail__noscroll a div {
    width: 320px;
    margin-inline: 1.5rem;
    height: auto;
  }
}
