.workshops {
  display: grid;
  grid-template-rows: 6rem auto repeat(auto, 25vh);
  margin-inline: 24px;
  width: calc(100vw - 48px);
  margin-block: 6rem;
}

.workshops h1 {
  grid-row: 2;
  font-size: 8rem;
  position: relative;
  font-weight: 500;
  margin-block: 0;
  font-family: Superline-Regular, Inter;
}

.workshops__svg {
  grid-row: 2;
  position: relative;
  right: 190px;
  top: 40px;
}

.workshops-info {
  grid-row: 3;
  width: calc(100vw - 48px);
  justify-self: start;
  align-self: start;
}

.workshops-info p {
  margin-block-end: 2rem;
}

.workshops-info a:first-child {
  margin-block-start: 4rem;
}

.workshops-join {
  margin-block: 5rem;
  grid-row: 5;
}

.workshops-join h2 {
  display: block;
  width: calc(100vw - 48px);
  font-weight: 500;
  font-size: 2rem;
}

.workshop-item {
  grid-row: 10;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: calc(100vw - 80px);
  height: auto;
  /* background-color: var(--color-green); */
  color: var(--color-black);
  border: 2px solid var(--color-black);
  padding: 1rem;
  text-decoration: none;
}

.workshop-item h3 {
  font-size: 1.5rem;
  font-weight: 500;
  margin-block: 0;
}

.workshop-item p:nth-child(2),
.workshop-item p:nth-child(3) {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--color-black);
}

.workshop-item p {
  font-size: 1.25rem;
  font-weight: 400;
  margin-block: 1rem;
}

.workshop-item button {
  justify-self: flex-end;
  font-size: 1rem;
}

.request {
  margin-block-start: 6rem;
  margin-inline: 1.5rem;
  width: calc(100vw - 3rem);
  height: 100vh;
}

.request-info p:first-child {
  font-size: 1.5rem;
  font-weight: 500;
  width: 16ch;
  line-height: 1.2;
}

.request-info p:nth-child(2) {
  font-size: 1.25rem;
  font-weight: 400;
  margin-block: 1rem;
  width: 24ch;
}

.request-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: calc((100vw - 3rem) * 2);
  height: auto;
  /* background-color: var(--color-green); */
  color: var(--color-black);
  text-decoration: none;
  transition: ease 0.5s all;
}

.form-one {
  width: calc(100vw - 5rem);
  margin-inline-end: 5rem;
}

.form-one p:first-child {
  font-size: 1.25rem;
  font-weight: 500;
  margin: 0;
}

.form-one input {
  width: 280px;
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  font-size: 1rem;
  padding: 0.5rem;
  color: var(--color-black);
  font-family: Roc Grotesk;
  margin-block-end: 1rem;
}

input:focus {
  border: 1px solid var(--color-green);
}

#companyPostal {
  width: 150px;
}

#companyCountry {
  width: 140px;
}

.postal {
  display: flex;
  flex-direction: column;
}

.country {
  margin-inline-start: 1rem;
  display: flex;
  flex-direction: column;
}

.two-fields {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.form-two {
  width: 60vw;
  margin-inline-end: 5rem;
}

.form-two p:first-child {
  font-size: 1.25rem;
  font-weight: 500;
  margin: 0;
}

.form-two input {
  width: 150px;
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  font-size: 1rem;
  padding: 0.5rem;
  color: var(--color-black);
  font-family: Roc Grotesk;
  margin-block-end: 1rem;
}

.form-two input[type="radio"] {
  width: 30px;
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  font-size: 1rem;
  padding: 0.5rem;
  color: var(--color-black);
  font-family: Roc Grotesk;
  margin-block-end: 1rem;
}

.confirmation {
  display: flex;
  flex-direction: column;
  place-content: center;
  width: 100vw;
  text-align: center;
  height: 100vh;
}

.confirmation img {
  max-width: 250px;
  width: 40vw;
  height: auto;
  margin-block: 2rem;
  align-self: center;
}

.confirmation p:first-child {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 0;
}

.confirmation p:nth-child(2) {
  font-size: 1.25rem;
  font-weight: 400;
  margin-block: 1rem;
}

@media screen and (min-width: 1280px) {
  .workshops {
    display: grid;
    grid-template-columns: repeat(2, 45vw);
    margin-inline: 3rem;
    width: calc(100vw - 6rem);
    height: 100vh;
    margin-block: 3rem;
  }

  .workshops h1 {
    grid-column: 1;
    grid-row: 1;
    font-size: 10rem;
    position: relative;
    font-weight: 500;
    margin-block: 0;
    font-family: Superline-Regular, Inter;
  }

  .workshops__svg {
    grid-column: 1;
    grid-row: 1;
    position: relative;
    scale: 1.2;
    left: -4rem;
    justify-self: center;
    align-self: center;
  }

  .workshops-info {
    grid-row: 2;
    width: 30vw;
    font-size: 1.125rem;
    justify-self: start;
    align-self: start;
  }

  .workshops-info a:first-child {
    margin-block-start: 4rem;
  }

  .workshops-join {
    margin-block: 5rem;
    grid-row: 1 / span 5;
    grid-column: 2;
  }

  .workshops-join h2 {
    display: block;
    width: calc(100vw - 48px);
    font-weight: 500;
    font-size: 2rem;
  }

  .workshop-item {
    grid-row: 10;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: calc(40vw - 3rem);
    height: auto;
    /* background-color: var(--color-green); */
    color: var(--color-white);
    border: 2px solid var(--color-black);
    padding: 1rem;
    text-decoration: none;
    background-color: var(--color-black);
  }

  .workshop-item h3 {
    font-size: 1.5rem;
    font-weight: 500;
    margin-block: 0;
  }

  .workshop-item p:nth-child(2),
  .workshop-item p:nth-child(3) {
    font-size: 1.2rem;
    font-weight: 500;
    margin-block: 1rem;
    color: var(--color-green);
  }

  .workshop-item p {
    font-size: 1.125rem;
    font-weight: 400;
    margin-block: 1rem;
  }

  .workshop-item button {
    justify-self: flex-end;
    font-size: 1rem;
  }

  .request {
    margin-block-start: 6rem;
    margin-inline: 1.5rem;
    width: calc(100vw - 3rem);
    display: grid;
    grid-template-columns: 40vw 40vw;
    height: calc(100vh - 6rem);
  }

  .request > .request-deco {
    grid-column: 1;
    grid-row: 1 / span 2;
    width: 40vw;
    height: 40vw;
    background-color: var(--color-black);
    color: var(--color-white);
    font-size: 10rem;
    font-weight: 500;
    display: grid;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 6rem;
    right: 3rem;
    z-index: 1;
  }

  .request-deco p {
    font-family: var(--font-title);
    font-style: italic;
    font-variant-ligatures: none;
    z-index: 2;
    font-size: 14rem;
    color: var(--color-green);
    grid-row: 1;
    grid-column: 1;
    transform-origin: 50% 50%;
    transform: rotate(-90deg);
  }

  .request-deco img {
    grid-row: 1;
    grid-column: 1;
    height: 100vh;
    width: 42vw;
    object-fit: cover;
  }

  .request-info p:first-child {
    font-size: 1.5rem;
    font-weight: 500;
    width: 30ch;
    line-height: 1.2;
  }

  .request-info p:nth-child(2) {
    font-size: 1.25rem;
    font-weight: 400;
    margin-block: 1rem;
    width: 30ch;
  }

  .request-form {
    z-index: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    width: calc((100vw - 3rem) * 2);
    height: auto;
    /* background-color: var(--color-green); */
    color: var(--color-black);
    text-decoration: none;
    transition: ease 0.5s all;
  }

  .form-one {
    width: calc(45vw - 5rem);
    margin-inline-end: 5rem;
  }

  .form-one p:first-child {
    font-size: 1.25rem;
    font-weight: 500;
    margin: 0;
  }

  .form-one input {
    width: 320px;
    background-color: var(--color-white);
    border: 1px solid var(--color-black);
    font-size: 1rem;
    padding: 0.5rem;
    color: var(--color-black);
    font-family: Roc Grotesk;
    margin-block-end: 1rem;
  }

  .form-one label {
    display: block;
  }

  #companyPostal {
    width: 200px;
  }

  #companyCountry {
    width: 140px;
  }

  .postal {
    display: flex;
    flex-direction: column;
  }

  .country {
    margin-inline-start: 1rem;
    display: flex;
    flex-direction: column;
  }

  .two-fields {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
  }

  .form-two {
    width: 60vw;
    margin-inline-end: 5rem;
  }

  .form-two p:first-child {
    font-size: 1.25rem;
    font-weight: 500;
    margin: 0;
  }

  .form-two input {
    width: 150px;
    background-color: var(--color-white);
    border: 1px solid var(--color-black);
    font-size: 1rem;
    padding: 0.5rem;
    color: var(--color-black);
    font-family: Roc Grotesk;
    margin-block-end: 1rem;
  }

  .form-two input[type="radio"] {
    width: 30px;
    background-color: var(--color-white);
    border: 1px solid var(--color-black);
    font-size: 1rem;
    padding: 0.5rem;
    color: var(--color-black);
    font-family: Roc Grotesk;
    margin-block-end: 1rem;
  }
}
